
@import url('reset.css');
@import url('global.css');
@import url('page.css');


/* 서울한강font cdn */
@font-face { font-family: 'SeoulHangangM'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/SeoulHangangM.woff') format('woff'); font-weight: normal; font-style: normal; }
/* HVD_Comit_serif_Pro font 파일 적용 */
@font-face {
    font-family: 'hvd_comic_serif_proregular';
    src: url('../font/HVD_Comic_Serif_Pro-webfont.eot');
    src: url('../font/HVD_Comic_Serif_Pro-webfont.eot?#iefix') format('embedded-opentype'),
         /* url('../font/HVD_Comic_Serif_Pro-webfont.woff2') format('woff2'), */
         url('../font/HVD_Comic_Serif_Pro-webfont.woff') format('woff'),
         url('../font/HVD_Comic_Serif_Pro-webfont.ttf') format('truetype'),
         url('../font/HVD_Comic_Serif_Pro-webfont.svg#hvd_comic_serif_proregular') format('svg');
    font-weight: normal;
    font-style: normal;
}