@media screen and (min-width: 768px) and (max-width: 1279px){
.swiper-container {
    margin-right: 0%;
    margin-left: 0%;
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1;
}
.swiper-container > .swiper-wrapper{
    position: relative;
    z-index: 1;
    display: flex;
    transition-property: transform;
    box-sizing: content-box;
    margin-top: 100px;
}

.swiper-container > .swiper-wrapper > .swiper-slide{
    flex-shrink: 0;
    height: 100%;
    position: relative;
    transition-property: transform;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}
.swiper-container > .swiper-wrapper > .swiper-slide img{
    width: 100%;
}
.swiper-container > .swiper-button-prev {
    background: url(../images/슬라이더-왼.png);
    text-indent: -9999px;
    left: 80px;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    } 
.swiper-container > .swiper-button-next {
    background: url(../images/슬라이더-오.png);
    text-indent: -9999px;
    right: 80px;
    width: 8%;
    height:100%;
    background-repeat: no-repeat;
    }
/* swiper-container"_fin*/

.story , .McDonald , .menu ,.McDrive{
    margin-top: 100px;
    text-align: center;
}

.McDonald img{
    margin-bottom: 30px;
}

.McDonald h2 , .story h2 , .menu h2 ,
.McDrive h2{
    font-size: 60px;
    color: #e30909;
    margin-bottom: 40px;
}

.McDonald > .tab_content input[type="radio"]{
    display: none;
}
.McDonald > .tab_content input[type="radio"] + label{
    display: inline-block;
    font-size: 35px;
    color: black;
    cursor: pointer;
}
.McDonald > .tab_content input[type="radio"]:checked +label{
    color: red;
    border-bottom: black solid 1px;
}

.McDonald > .tab_content input[type="radio"] + label:nth-of-type(1){
    margin-right: 10px;
    margin-bottom: 50px;
}

.conbox1{
    width: 500px;
    height: 600px;
    display: none;  
}

.con1 , .con2 {
    background-color: black;
    width: 100%;
    height: 500px;
}
.con1 iframe , .con2 img {
    width: 70%;
    height: 100%;
}


input[id="tab01"]:checked ~ .con1{
    display: block;
}
input[id="tab02"]:checked ~ .con2{
    display: block;
}

/* section_McDonald fin */

.story > p , .menu > p , .McDrive p{
    font-size: 30px;
    margin-bottom: 50px;
    line-height: 50px;
}

.story > .gallery::after{
    content:''; display: block; visibility: hidden; clear: both;
}
.story > .gallery{
    margin: 0 auto;
}

.story > .gallery ul{
    list-style: none;
}

.story > .gallery > ul > li{
    float: left;
    vertical-align: top;
}

.story > .gallery > ul > li:nth-of-type(1){
    margin-left: 230px;
    width: 35%;
}
.story > .gallery > ul > li:not(:first-of-type){
    margin-left: 20px;
    margin-bottom: 20px;
    width: 34.3%;
}

.story > .gallery ul > li > a{
    display: block;
    width: auto;
    text-decoration: none;
    color: white;
}
 
.story > .gallery ul > li > a .screen:after{
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
    opacity: 0;
    transition: all .35s;
}

.story > .gallery ul > li > a:hover .screen:after{
    opacity: 1;
}
.story > .gallery ul > li > a .screen{
    position: relative;
    overflow: hidden;
}
.story > .gallery ul > li > a .screen .top{
    position: absolute;
    bottom:100%;
    z-index: 2;
    transition: all .35s;
}
.story > .gallery ul > li > a .screen .bottom{
    position: absolute;
    top: 100%;
    z-index: 2;
    line-height: 35px;
    transition: all .35s;
}

.story > .gallery ul > li > a .screen .one{
    margin-left: 25%;
    font-size: 60px;
}
.story > .gallery ul > li > a .screen .one_1{
    margin-left: 13%;
    font-size: 20px
}
.story > .gallery ul > li > a .screen .tow {
    margin-left: 32%;
    font-size: 30px;
}
.story > .gallery ul > li > a .screen .tow_1 , .three_1{
    margin-left: 12%;
    font-size: 15px;
    line-height: 20px;
}
.story > .gallery ul > li > a .screen .three_1{
    line-height: 20px;
}
.story > .gallery ul > li > a .screen .three{
    margin-left: 25%;
    font-size: 30px;
}
.story > .gallery ul > li > a .screen img{
    width: 100%;
}
.story > .gallery ul > li > a:hover .top {
    bottom: 60%;
} 
.story > .gallery ul > li > a:hover .bottom{
    top: 50%;
}

/* story_fin */

.menu{
    background-color: #f1f1f1;
    width: 100%;
    height: 80%;
    padding-bottom: 200px;
}
.menu h2{
    padding-top: 150px;
}
input[type="radio"]{
    display: none;
}
input[type="radio"] + label{
    display: inline-block;
    cursor: pointer;
    color: #494949;
    width: 18%;
}

.menu > .tab_content_2 input[type="radio"] + label img{
    display: inline-block;
    width: 60%;
    margin-bottom: 33px;
}
.menu > .tab_content_2 input[type="radio"] + label span{
    font-size: 35px;
    display: block;
}
.menu > .tab_content_2 input[type="radio"]:checked + label{
    color: black;
    
}
.menu > .tab_content_2 input[type="radio"]:checked + label span{
    color: #ffc300;
}

.conbox_2{
    margin-top: 100px;
    display: none;
}

input[id="tab03"]:checked ~ .con3{
    display: block;
}
input[id="tab04"]:checked ~ .con4{
    display: block;
}
input[id="tab05"]:checked ~ .con5{
    display: block;
}
input[id="tab06"]:checked ~ .con6{
    display: block;
}

.conbox_2 > ul::after{
    content:''; display: block; visibility: hidden; clear: both;
} 

.conbox_2 > ul{
    font-size: 0; 
    margin-left: 200px;
}
.conbox_2 > ul li{
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
    background-color: black;
}
.conbox_2 > ul li a img{
    width: 265px;
}
.conbox_2 > ul li a{
    text-decoration: none;
    color: black;
}
.conbox_2 > ul li a:hover{
    opacity: 0.5;
    color: white
} 
.conbox_2 > ul li span{
    display:grid;
    font-size: 25px;
    background-color: #ffc300;
    padding: 15px 0;
    cursor: pointer;
}

/* .btn > button{
    background: url(../images/더보기.png);
    width: 150px;
    height: 150px;
    text-indent: -9999px;
    border: none;
    cursor: pointer;
} */
/* menu_fin */

.McDrive > .Drive{
    background-color: black;
    width: 100%;
    height: 500px;
    margin-bottom: 100px;
}

.McDrive > .Drive iframe{
    height: 100%;
    width: 70%;
}

.McDrive h3{
    font-size: 25px;
    margin-bottom: 100px;
}

.McDrive ul{
    margin: 0;
}

.McDrive ul li{
   display: inline-block;
   list-style: none;
   margin-bottom: 100px;
}
.McDrive ul li figure{
    padding-right: 100px;
    width: 100%;
}


.McDrive ul li figure img{
    width: 100px;
    margin-left: 30%px;
    margin-bottom: 30px;
}

.McDrive ul li figure > figcaption dl {
    text-align: center;
    line-height: 40px;
}

.McDrive ul li figure > figcaption dl dt{
    font-weight: bold;
    font-size: 20px;
}
.McDrive ul li figure > figcaption dd{
    font-size: 15px;
}
.McDrive ul li figure > figcaption dd span{
    color: red;
}

.McDrive a{
    text-decoration: none;
    color: black;
    background-color:  #ffc300;
    padding: 25px;
    font-size: 20px;
    border-radius: 66px;    
}

.McDrive a:hover{
    color: white;
}
}

@media screen and (min-width: 1280px){
.swiper-container {
    margin-right: 0;
    margin-left: 0;
      width: 100%;
      height: 100%;
      position: relative;
      overflow: hidden;
      list-style: none;
      padding: 0;
      z-index: 1;
    }
.swiper-container > .swiper-wrapper{
    position: relative;
    z-index: 1;
    display: flex;
    transition-property: transform;
    box-sizing: content-box;
    margin-top: 100px;
}

.swiper-container > .swiper-wrapper > .swiper-slide{
    flex-shrink: 0;
    /* width: 1920px; */
    height: 100%;
    position: relative;
    transition-property: transform;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}
.swiper-container > .swiper-wrapper > .swiper-slide img{
    width: 100%;
    margin-top: 0;
}
.swiper-container > .swiper-button-prev {
    background: url(../images/슬라이더-왼.png);
    text-indent: -9999px;
    left: 80px;
    width: 60px;
    height: 90px;
    background-repeat: no-repeat;
    } 
.swiper-container > .swiper-button-next {
    background: url(../images/슬라이더-오.png);
    text-indent: -9999px;
    right: 80px;
    width: 60px;
    height: 90px;
    background-repeat: no-repeat;
    }
/* swiper-container"_fin*/

.story , .McDonald , .menu ,.McDrive{
    margin-top: 100px;
    text-align: center;
}

.McDonald img{
    margin-bottom: 30px;
}

.McDonald h2 , .story h2 , .menu h2 ,
.McDrive h2{
    font-size: 60px;
    color: #e30909;
    margin-bottom: 40px;
}

.McDonald > .tab_content input[type="radio"]{
    display: none;
}
.McDonald > .tab_content input[type="radio"] + label{
    display: inline-block;
    font-size: 35px;
    color: black;
    cursor: pointer;
}
.McDonald > .tab_content input[type="radio"]:checked +label{
    color: red;
    border-bottom: black solid 1px;
}

.McDonald > .tab_content input[type="radio"] + label:nth-of-type(1){
    margin-right: 70px;
    margin-bottom: 50px;
}

.conbox1{
    width: 500px;
    height: 600px;
    display: none;  
}

.con1 , .con2 {
    background-color: black;
    width: 100%;
    height: 500px;
}
.con1 iframe , .con2 img {
    width: 70%;
    height: 100%;
}


input[id="tab01"]:checked ~ .con1{
    display: block;
}
input[id="tab02"]:checked ~ .con2{
    display: block;
}

/* section_McDonald fin */

.story > p , .menu > p , .McDrive p{
    font-size: 30px;
    margin-bottom: 50px;
    line-height: 50px;
}

.story > .gallery::after{
    content:''; display: block; visibility: hidden; clear: both;
}
.story > .gallery{
    margin: 0 auto;
}

.story > .gallery ul{
    list-style: none;
}

.story > .gallery > ul > li{
    float: left;
    vertical-align: top;
}

.story > .gallery > ul > li:nth-of-type(1){
    margin-left: 230px;
    width: 35%;
}
.story > .gallery > ul > li:not(:first-of-type){
    margin-left: 20px;
    margin-bottom: 20px;
    width: 34.3%;
}

.story > .gallery ul > li > a{
    display: block;
    width: auto;
    text-decoration: none;
    color: white;
}
 
.story > .gallery ul > li > a .screen:after{
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
    opacity: 0;
    transition: all .35s;
}

.story > .gallery ul > li > a:hover .screen:after{
    opacity: 1;
}
.story > .gallery ul > li > a .screen{
    position: relative;
    overflow: hidden;
}
.story > .gallery ul > li > a .screen .top{
    position: absolute;
    bottom:100%;
    z-index: 2;
    transition: all .35s;
}
.story > .gallery ul > li > a .screen .bottom{
    position: absolute;
    top: 100%;
    z-index: 2;
    line-height: 35px;
    transition: all .35s;
}

.story > .gallery ul > li > a .screen .one{
    margin-left: 25%;
    font-size: 60px;
}
.story > .gallery ul > li > a .screen .one_1{
    margin-left: 13%;
    font-size: 20px
}
.story > .gallery ul > li > a .screen .tow {
    margin-left: 32%;
    font-size: 30px;
}
.story > .gallery ul > li > a .screen .tow_1 , .three_1{
    margin-left: 12%;
    font-size: 15px;
    line-height: 20px;
}
.story > .gallery ul > li > a .screen .three_1{
    line-height: 20px;
}
.story > .gallery ul > li > a .screen .three{
    margin-left: 25%;
    font-size: 30px;
}
.story > .gallery ul > li > a .screen img{
    width: 100%;
}
.story > .gallery ul > li > a:hover .top {
    bottom: 60%;
} 
.story > .gallery ul > li > a:hover .bottom{
    top: 50%;
}

/* story_fin */

.menu{
    background-color: #f1f1f1;
    width: 100%;
    height: 80%;
    padding-bottom: 200px;
}
.menu h2{
    padding-top: 150px;
}
input[type="radio"]{
    display: none;
}
input[type="radio"] + label{
    display: inline-block;
    cursor: pointer;
    color: #494949;
    width: 18%;
}

.menu > .tab_content_2 input[type="radio"] + label img{
    display: inline-block;
    width: 60%;
    margin-bottom: 33px;
}
.menu > .tab_content_2 input[type="radio"] + label span{
    font-size: 35px;
    display: block;
}
.menu > .tab_content_2 input[type="radio"]:checked + label{
    color: black;
    
}
.menu > .tab_content_2 input[type="radio"]:checked + label span{
    color: #ffc300;
}

.conbox_2{
    margin-top: 100px;
    display: none;
}

input[id="tab03"]:checked ~ .con3{
    display: block;
}
input[id="tab04"]:checked ~ .con4{
    display: block;
}
input[id="tab05"]:checked ~ .con5{
    display: block;
}
input[id="tab06"]:checked ~ .con6{
    display: block;
}

.conbox_2 > ul::after{
    content:''; display: block; visibility: hidden; clear: both;
} 

.conbox_2 > ul{
    font-size: 0; 
    margin-left: 200px;
}
.conbox_2 > ul li{
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
    background-color: black;
}
.conbox_2 > ul li a img{
    width: 265px;
}
.conbox_2 > ul li a{
    text-decoration: none;
    color: black;
}
.conbox_2 > ul li a:hover{
    opacity: 0.5;
    color: white
} 
.conbox_2 > ul li span{
    display:grid;
    font-size: 25px;
    background-color: #ffc300;
    padding: 15px 0;
    cursor: pointer;
}

/* .btn > button{
    background: url(../images/더보기.png);
    width: 150px;
    height: 150px;
    text-indent: -9999px;
    border: none;
    cursor: pointer;
} */
/* menu_fin */

.McDrive > .Drive{
    background-color: black;
    width: 100%;
    height: 500px;
    margin-bottom: 100px;
}

.McDrive > .Drive iframe{
    height: 100%;
    width: 70%;
}

.McDrive h3{
    font-size: 25px;
    margin-bottom: 100px;
}

.McDrive ul{
    margin: 0;
}

.McDrive ul li{
   display: inline-block;
   list-style: none;
   margin-bottom: 100px;
}
.McDrive ul li figure{
    padding-right: 100px;
    width: 100%;
}


.McDrive ul li figure img{
    width: 100px;
    margin-left: 30%px;
    margin-bottom: 30px;
}

.McDrive ul li figure > figcaption dl {
    text-align: center;
    line-height: 40px;
}

.McDrive ul li figure > figcaption dl dt{
    font-weight: bold;
    font-size: 20px;
}
.McDrive ul li figure > figcaption dd{
    font-size: 15px;
}
.McDrive ul li figure > figcaption dd span{
    color: red;
}

.McDrive a{
    text-decoration: none;
    color: black;
    background-color:  #ffc300;
    padding: 25px;
    font-size: 20px;
    border-radius: 66px;    
}

.McDrive a:hover{
    color: white;
}
}